<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg %n
			</pattern>
		</encoder>
	</appender>
	<logger name="com.eg.egsc" level="DEBUG" additivity="false">
		<appender-ref ref="Console" />
	</logger>
	 <!--设置框架日志打印级别--> 
	 <root>  
        <level value="INFO" />
        <appender-ref ref="Console" />  
    </root>  

</configuration>