<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eg.egsc.scp.paygateway.extmapper.DemoUserExtMapper">
	<resultMap id="BaseResultMap" type="com.eg.egsc.scp.paygateway.extmapper.entity.DemoUserEx">
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="user_code" property="userCode" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="user_desc" property="userDesc" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
		<result column="tenant_id" property="tenantId" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="queryForListMap" type="com.eg.egsc.scp.paygateway.extmapper.entity.DemoUserEx">
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="user_code" property="userCode" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<collection property="roles" javaType="java.util.List"
			ofType="com.eg.egsc.scp.paygateway.mapper.entity.DemoRole">
			<id column="id" property="id" jdbcType="CHAR" />
			<result column="role_code" property="roleCode" jdbcType="VARCHAR" />
			<result column="role_name" property="roleName" jdbcType="VARCHAR" />
			<result column="role_desc" property="roleDesc" jdbcType="VARCHAR" />
			<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
			<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
			<result column="create_user" property="createUser" jdbcType="VARCHAR" />
			<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
			<result column="tenant_id" property="tenantId" jdbcType="VARCHAR" />

		</collection>

	</resultMap>
	<select resultMap="queryForListMap" id="queryForList">

		SELECT
		*
		FROM
		"DEMODB".demo_user C
		LEFT JOIN "DEMODB".demo_user_role cs ON C . ID = cs.user_id
		LEFT JOIN "DEMODB".demo_role s ON cs.role_id = s. ID
		where c.id = #{id,jdbcType=CHAR} 

	</select>

</mapper>